name: test

on: [push,pull_request,workflow_dispatch]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ["3.1", "3.2", "3.3", "3.4", "4.0", "head"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Bundle install
      run: |
        bundle install
    - name: Run the test suite
      run: |
        bundle exec rake TESTOPT=-v
